@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html, body{
  height: 100%;
  font-family: 'Poppins', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 100vh;
  background-color: #202121;
  margin:0;
  height: 5vh;
}

.header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
  padding:0vh;
}

.button{
  display:inline-block;
  flex-direction:row;
  border:none;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
}
.button:focus{
  outline: ivory;
}

.body{
  height: 95vh;
  margin: 0;
  background-image: url("https://i.redd.it/s6gp030h7ef51.png");
  background-size: cover;
  /* background:scroll; */
}

.footer{
  margin: 0;
  text-align: center;
  color:antiquewhite;
}